services:
  frontend-web:
    build:
      context: ./frontend-web
      dockerfile: Dockerfile
    container_name: frontend-web
    ports:
      - "5173:5173"
    networks:
      - frontend-net
    depends_on:
      - api-gateway
    restart: unless-stopped

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    networks:
      - frontend-net
      - orchestration-net
      - backend-net
    depends_on:
      - users-service
      - entry-service
    restart: unless-stopped

  # FLASK
  users-service:
    build:
      context: ./users-service
      dockerfile: Dockerfile
    container_name: users-service
    expose:
      - "5000"
    networks:
      - backend-net
      - database-net
    depends_on:
      - mongodb
    restart: unless-stopped

  # EXPRESS
  entry-service:
    build:
      context: ./entry-service
      dockerfile: Dockerfile
    container_name: entry-service
    expose:
      - "3000"
    networks:
      - backend-net
      - database-net
    depends_on:
      - postgresdb
    restart: unless-stopped

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - database-net
    restart: unless-stopped

  postgresdb:
    image: postgres:16
    container_name: postgresdb
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - database-net
    restart: unless-stopped

volumes:
  mongo-data:
  postgres-data:

networks:
  frontend-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24

  orchestration-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.31.0.0/24

  backend-net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.32.0.0/24

  database-net:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 172.34.0.0/24
