# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Environment
.env
instance/

# Logs
*.log
